<div [class]="'recipe-card-' + recipe.type">

    <img [src]="imageRecipePath" alt="" class="recipe-img">
    <h2>{{ recipe.name }} ({{ totalIngredients }})</h2>
    
    <div class="recipe-ingredients">
        @for (ingredient of recipe.ingredients; track ingredient) {
            <div class="ingredient">
                <div class="ingredient-icon">
                    <img [src]="imageIngredientPath(ingredient.ingredientId)" alt="" class="ingredient-img">
                </div>
                
                <h3>{{ ingredient.amount }}</h3>
            </div>
        }
    </div>

    <div class="checklist">
        <button class="button-icon" [class.cooked]="cooked" (click)="toggleCooked()">
            {{ cooked ? 'Cooked' : 'Uncooked' }}
        </button>
    </div>
</div>
