.recipe-card-curry {

    width: 240px;
    height: 250px;
    
    background-color: #FFB8B6;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.recipe-card-salad {

    width: 240px;
    height: 250px;
    
    background-color: #b6feb2;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.recipe-card-dessert {

    width: 240px;
    height: 250px;
    
    background-color: #fffbb2;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.recipe-img {
    max-width: 130px;
    max-height: 130px;
}

h2 {
    margin: 0px;
    font-family: var(--font-primary);
    color: inherit;
    font-size: 16px;

    text-align: center;
    min-height: 40px;
}

.recipe-ingredients {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-top: auto;
}

.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h3 {
    margin: 0px;
    font-family: var(--font-primary);
    color: inherit;
    font-size: 14px;
}

.checklist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    margin-top: auto;
    margin-bottom: 4px;
    gap: 8px;
}