<div [class]="'recipe-card-' + recipe.type" [class.disabled]="canMake === false" (click)="toggleCooked()">

    <img [src]="imageRecipePath" alt="" class="recipe-img">
    <div class="base-strength">
        {{ recipe.baseStrength }}
    </div>
    <h2>{{ recipe.name }} ({{ totalIngredients }})</h2>
    <div class="name-divider"></div>

    
    
    <div class="recipe-ingredients">
        @for (ingredient of recipe.ingredients; track ingredient) {
            <div class="ingredient">
                <div class="ingredient-icon">
                    <img [src]="imageIngredientPath(ingredient.ingredientId)" alt="" class="ingredient-img">
                </div>
                
                @if (quantities) {
                    <h3>
                        <span>{{ quantities[ingredient.ingredientId] || 0 }}</span>
                        <span class="divider">/</span>
                        <span>{{ ingredient.amount }}</span>
                    </h3>
                } @else {
                    <h3>{{ ingredient.amount }}</h3>
                }
                
            </div>
        }
    </div>

    <div class="checklist">
        <button *ngIf="!homePlaceHolder" class="button-icon" [class.cooked]="cooked$ | async">
            {{ (cooked$ | async) ? 'Cooked' : 'Uncooked' }}
        </button>
    </div>
</div>
