<div class="wrapper">

    <div class="ingredient-calculator">
        <div class="ingredient">
            <app-ingredient-table></app-ingredient-table>
        </div>

        <app-recipe-filters
          [filterState]="filterState"
          [showFormatToggle]="false"
          [ingredeintPlaceHolder]="true"
          (formatChange)="changeRecipeFormat()"
        />

        @if (cookableRecipes$ | async; as recipes) {
            @if (tabularFormat) {
                <div class="recipe-table">
                    <app-recipe-table
                        [recipes]="toRecipes(recipes)"
                        [quantities]="(quantities$ | async)!">
                    </app-recipe-table>
                </div>
            } @else {
                <div class="recipe-cards">
            
                    @for (item of recipes; track item.recipe.id) {
                        <app-recipe-card
                            [recipe]="item.recipe"
                            [quantities]="item.quantities"
                            [canMake]="item.canMake">
                        </app-recipe-card>
                    }
            
                </div>  
            }
            
        }
    </div>


</div>
