<div class="ingredient-list">
 
  <div class="list-header">
    <span class="section-label">Ingredient inventory</span>

    <div class="buttons">
      <button
        class="btn btn-clear"
        [class.btn-clear--confirm]="clearConfirmPending"
        (click)="onClearAllClick()">
        <img src="assets/images/trash_icon.svg" alt="">
        {{ clearConfirmPending ? 'Confirm clear' : 'Clear all' }}
      </button>

      <button class="btn" (click)="collapseTable()">Collapse Table</button>
      <button class="btn" (click)="uploadInput.click()">
        <img src="assets/images/upload_icon.svg" alt="">
        Upload photo
        <span class="badge-beta">Beta</span>
      </button>
      <input #uploadInput type="file" accept="image/*" style="display:none" (change)="onImageUpload($event)">

    </div>
  </div>
 
  <div class="list-card" *ngIf="!tableCollapsed">
 
    <div class="list-head-row">
      <span></span>
      <span class="th">Ingredient</span>
      <span class="th th-right">In stock</span>
    </div>
 
    @if (ingredients$ | async; as ingredients) {
      @for (ingredient of ingredients; track trackById($index, ingredient)) {
        <div class="list-row" [class.row-out]="getStatus(ingredient.id) === 'out'">
 
          <div class="img-sq">
            <img [src]="imageIngredientPath(ingredient.id)" [alt]="ingredient.name">
          </div>
 
          <div class="ing-info">
            <div class="ing-name">{{ ingredient.name }}</div>
          </div>
 
          <div class="qty-cell">
            <div class="dot" [class]="'dot-' + getStatus(ingredient.id)"></div>
            <span
              class="qty-num"
              contenteditable="true"
              inputmode="numeric"
              (focus)="onQuantityFocus($event)"
              (blur)="onQuantityBlur($event, ingredient.id)">{{ getQuantity(ingredient.id) }}</span>
          </div>
 
        </div>
      }
    }
 
  </div>
 
</div>
