<footer class="footer">
  <div class="separator"></div>

  <div class="footer-inner">
    
    <div class="footer-name">
      <a routerLink="/" class="name">sleep-dex</a>
    </div>

    <div class="footer-section">
      <h4>Links</h4>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
      <a routerLink="/ingredients" routerLinkActive="active">Ingredients</a>
    </div>

    <div class="footer-section">
      <h4>Feedback</h4>
      <div class="feedback-form">
        <textarea
          [(ngModel)]="feedbackText"
          id="feedback"
          [disabled]="sending || submitted">
        </textarea>
        <button (click)="sendFeedback()" [disabled]="sending || submitted">
          {{ submitted ? 'Sent!' : error ? 'Already sent feedback, try again later.' : 'Send feedback' }}
        </button>
      </div>
    </div>

  </div>

  <div class="footer-bottom-wrapper">
    <div class="footer-bottom">
      <span>© 2026 sleep-dex</span>
    </div>
  </div>

</footer>