.wrapper {
  font-family: var(--font-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-finder {
    margin-top: 8px;
    width: 100%;
    max-width: 975px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input {
  width: inherit;
  height: 60px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;

  box-sizing: border-box;
  
  margin-top: 16px;
}

.min-ingredient-input,
.max-ingredient-input{
  width: 100%;
  max-width: 40px;

  height: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid lightgrey;
}

.filters {
  display: flex;
  flex-direction: row;
  
  width: inherit;
  margin-top: 16px;
}

.filters .dropdown-filters{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.filters .pot-size-filter{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  
  margin-left: auto;
}

.filters .pot-size-filter .pot-icon {
  width: 28px;
  height: 28px;
}

h3 {
  margin: auto;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  padding: 8px;

  
  border-radius: 10px;
  background: #bebebe;
  border: 1.5px solid lightgrey;

  cursor: pointer;
}

.button-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.dropdown {
  background: none;
  border: none;
}

label input{
  display: none;
}

.dropdown summary {
  list-style: none;
  cursor: pointer;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;
}

.dropdown ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  margin-left: 2px;
  padding: 10px;

  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;

  position: absolute;
  min-width: 220px;
  
}

.dropdown li {
  margin-top: 5px;
}

.dropdown li label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown li img{
  width: 18px;
  height: 18px;
}

.ingredient-grid {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;

  padding-left: 0;
  margin-top: 10px;
  margin-left: 2px;
  padding: 10px;

  width: 220px;
  max-height: 200px;
  overflow-y: auto;

  position: absolute; /* to make the dropdown size not change as well (might not work for smaller views need to revisit this)*/
}

.ingredient-grid img {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.ingredient-grid .ingredient-unchecked {
  opacity: 50%;
}


.recipes {
    margin-top: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}