<div class="wrapper">
    <div class="recipe-finder">
    
        <input placeholder="Search Recipes" type="text" class="input" id="search" [formControl]="searchControl">

        <div class="filters">

          <div class="dropdown-filters">

            <details class="dropdown">
                <summary>
                  Type
                  <img src="assets/images/dropdown_arrow.png" alt="">
                </summary>

                <ul>
                  <li (click)="toggleRecipeType('curry')">
                    <label>
                      <img [src]="recipeTypeControl.value?.includes('curry') ? 'assets/images/checked_checkbox.svg' : 'assets/images/unchecked_checkbox.svg'" alt="">
                      Curry
                    </label>
                  </li>
                  <li (click)="toggleRecipeType('salad')">
                    <label>
                      <img [src]="recipeTypeControl.value?.includes('salad') ? 'assets/images/checked_checkbox.svg' : 'assets/images/unchecked_checkbox.svg'" alt="">
                      Salad
                    </label>
                  </li>
                  <li (click)="toggleRecipeType('dessert')">
                    <label>

                      <img [src]="recipeTypeControl.value?.includes('dessert') ? 'assets/images/checked_checkbox.svg' : 'assets/images/unchecked_checkbox.svg'" alt="">
                      Dessert
                    </label>
                  </li>
                </ul>
            </details>

            <details class="dropdown">
                <summary>
                  Cooked?
                  <img src="assets/images/dropdown_arrow.png" alt="">
                </summary>

                <ul>
                  <li (click)="toggleCookedRecipeType('cooked')">
                    <label>
                      <img [src]="cookedRecipeControl.value?.includes('cooked') ? 'assets/images/checked_checkbox.svg' : 'assets/images/unchecked_checkbox.svg'" alt="">
                      Cooked
                    </label>
                  </li>
                  <li (click)="toggleCookedRecipeType('uncooked')">
                    <label>
                      <img [src]="cookedRecipeControl.value?.includes('uncooked') ? 'assets/images/checked_checkbox.svg' : 'assets/images/unchecked_checkbox.svg'" alt="">
                      Uncooked
                    </label>
                  </li>
                </ul>
            </details>

            <details class="dropdown">
              <summary>
                  Ingredients
                  <img src="assets/images/dropdown_arrow.png" alt="">
              </summary>

              <div class="ingredient-grid">

                @if (ingredients$ | async; as ingredients) {
                  @for (ingredient of ingredients; track ingredient) {
                    <div class="ingredient-item" [class.selected]="ingredientControl.value?.includes(ingredient.id)" (click)="toggleIngredient(ingredient.id)">

                      @if (hasIngredient(ingredient.id)) {
                        <img [src]="imageIngredientPath(ingredient.id)" alt="" class="ingredient-checked">
                      } @else {
                        <img [src]="imageIngredientPath(ingredient.id)" alt="" class="ingredient-unchecked">
                      }

                    </div>
                  }
                }
              </div>
            </details>

          </div>
          
          <div class="pot-size-filter">
            <img src="assets/images/pot_icon.png" alt="" class="pot-icon">
            <input type="number" [value]="minIngredientsControl.value" id="ingredient-count-min" class="min-ingredient-input" [formControl]="minIngredientsControl">
            <h3>-</h3>
            <input type="number" [value]="maxIngredientsControl.value" id="ingredient-count-max" class="max-ingredient-input" [formControl]="maxIngredientsControl">
            

            <button class="button-icon" (click)="changeRecipeFormat()">
              <img src="assets/images/table_icon.svg" alt="">
            </button>

            <button class="button-icon" (click)="resetFilters()">
              <img src="assets/images/reset_icon.svg" alt="">
            </button>
          </div>
          
          
        </div>
        
        @if (filteredRecipes$ | async; as recipes) {
          @if (tabularFormat) {
            <div class="recipe-table">
              <app-recipe-table [recipes]="recipes"></app-recipe-table>
            </div>
          } @else {
            <div class="recipe-cards">
              @if (filteredRecipes$ | async; as recipes) {
                  @for (recipe of recipes; track recipe) {
                      <app-recipe-card
                          [recipe]="recipe">
                      </app-recipe-card>
                  }
              }
            </div>
          }
        }
    
    </div>
</div> 
