<div class="wrapper">
    <div class="recipe-finder">
    
        <input placeholder="Search Recipes" type="text" class="input" [formControl]="searchControl">

        <details class="dropdown">
            <summary>
              Dish Type
              <img src="assets/images/dropdown_arrow.png" alt="">
            </summary>
            
            <ul>
              <li>
                <label>
                  <input type="checkbox" [checked]="RecipeTypeControl.value?.includes('curry')" (change)="toggleRecipeType('curry', $event.target.checked)" name="curry" />
                  Curry
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" [checked]="RecipeTypeControl.value?.includes('salad')" (change)="toggleRecipeType('salad', $event.target.checked)" name="salad" />
                  Salad
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" [checked]="RecipeTypeControl.value?.includes('dessert')" (change)="toggleRecipeType('dessert', $event.target.checked)" name="dessert" />
                  Dessert
                </label>
              </li>
            </ul>
        </details>
    
        <div class="recipes">
            @if (filteredRecipes$ | async; as recipes) {
                @for (recipe of recipes; track recipe) {
                    <app-recipe-card
                        [recipe]="recipe">
                    </app-recipe-card>
                }
            }
        </div>
    
    </div>
</div> 
