.wrapper {
  font-family: var(--font-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-finder {
    margin-top: 8px;
    width: 100%;
    max-width: 975px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input {
  width: 100%;
  max-width: 975px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;

  margin-top: 16px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.dropdown {
  background: none;
  border: none;

  margin-top: 16px;
  
}

.dropdown summary {
  list-style: none;
  cursor: pointer;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;
}

.dropdown ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  margin-left: 2px;
  padding: 10px;

  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;

  position: absolute;
  min-width: 220px;
  
}

.dropdown li {
  margin-top: 5px;
}

.ingredient-grid {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  background: #ffffff;
  border: 1.5px solid lightgrey;
  border-radius: 10px;

  padding-left: 0;
  margin-top: 10px;
  margin-left: 2px;
  padding: 10px;

  width: 220px;
  max-height: 200px;
  overflow-y: auto;

  position: absolute; /* to make the dropdown size not change as well (might not work for smaller views need to revisit this)*/
}

.ingredient-grid img {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.ingredient-grid .ingredient-unchecked {
  opacity: 50%;
}


.recipes {
    margin-top: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}