.wrapper {
  font-family: var(--font-primary);

  display: flex;
  justify-content: center;
  align-items: start;

  min-height: calc(100vh);
}

.recipe-finder {
  margin-top: 8px;
  width: 100%;
  max-width: 975px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

h3 {
  margin: auto;
}

.recipe-table {
  margin-top: 16px;

  width: inherit;
}

.recipe-cards {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
  width: 100%;
}

@media (max-width: 545px) {
  .recipe-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
  }
}

@media (max-width: 355px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}
