/* You can add global styles to this file, and also import other style files */

:root {

    --colour-background: #F9F9D9;

    --font-primary: m-plus-1p, sans-serif;


}

body {
    background: var(--colour-background);
}