<div class="pokemon-card" (click)="toggleAll()">

    <div [class]="'pokemon-sleep-type-' + pokemon.sleep_type">
        {{ pokemon.sleep_type | stringCapitalise }}
    </div>
    <div [class]="'pokemon-specialty-' + pokemon.specialty">
        {{ pokemon.specialty | stringCapitalise }}
    </div>
    <img [src]="imagePokemonPath" alt="{{ pokemon.name }}" class="pokemon-img">

    <div class="pokemon-title">
        <img [src]="imageTypePath(pokemon.type)" alt="{{ pokemon.type }}" class="type-img">
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <h1 class="pokedex-no">{{ pokemon.pokedex_number | pokedexConverter }}</h1>
    </div>

    <div class="pokemon-output">
        <img [src]="imageBerryPath" alt="" class="berry-img">
        <div class="output-divider"></div>

        @for (ingredient of pokemon.ingredients; track ingredient) {
            <img [src]="imageIngredientPath(ingredient)" alt="" class="ingredient-img">
        }
    </div>

    <div class="name-divider"></div>

    <div class="sleep-styles" *ngIf="unlockedStyles$ | async as unlockedStyles">
        @for (item of [].constructor(pokemon.number_of_sleep_styles); track $index) {
            <button class="sleep-button"
            [class.unlocked]="isUnlocked(unlockedStyles, $index)"
            (click)="toggleStyle($index); $event.stopPropagation()">

                <div class="star-sleep">
                    
                    <span class="star-icon">{{ isUnlocked(unlockedStyles, $index) ? '★' : '☆' }}</span>
                    
                    <span class="num">{{ $index }}</span>
                </div>

                <span class="drowsy-power">
                    {{ pokemon.drowsy_power_requirement_list[$index] | numberAbbreviate }}
                </span>

            </button>
        }
    </div>

</div>
